{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}
{% block monTitre %}Ajouter un Article{% endblock %}

{% block body %}
<div class="container">
{{ form_start(formPost)}} <!--affiche la balise ouvrante du formulaire configuré-->

{{form_row(formPost.title, {'attr' : {'placeholder' : "Titre de l'article"}}) }}
{{form_row(formPost.content, {'attr' : {'placeholder' : "Contenu de l'article"} }) }}
{{form_row(formPost.image, {'attr' : {'placeholder': "URL de l'image"}}) }}
<button type="submit" class="btn btn-primary">
    {% if editMode %}
        Modifier l'article
    {% else %}
        Ajouter l'article
    {% endif %}
</button>
{{ form_end(formPost) }}
</div>
{% endblock %}
