{% extends 'base.html.twig' %}

{% block title %}Nous situert{% endblock %}
{% block meta_des_name %}Contactez-nous{% endblock %}
{% block meta_des_content %}Besoin d'en savoir plus ? Contactez nous !{% endblock %}

{% block body %}

<section class="mb-5 mt-5">
        <div class="container bg-white p-3">
                <h1 class="text-center text-light mt-3 bg-primary p-5 mb-3 title_nous_contacter">Contactez-nous</h1> 
                {% for flashError in app.flashes('message') %}
                <div class="alert alert-success text-center">{{ flashError }}</div>
                {% endfor %}
                {{ form_start(form, {'attr': {'novalidate' : 'novalidate'}})}}
                {{ form_row(form.name, {"attr" : {'placeholder':'Entrez votre nom'},"label":"Nom"})}}
                {{ form_row(form.surname, {"attr" : {'placeholder':'Entrez votre prenom'},"label":"Prénom"})}}
                {{ form_row(form.mail, {"attr" : {'placeholder':'Entrez votre mail'},"label":"Adresse e-mail"})}}
                {{ form_row(form.subject, {"attr" : {'placeholder':'Indiquez le sujet de votre message'},"label":"Sujet"})}}
                {{ form_row(form.message, {"attr" : {'placeholder':'Ecrivez votre message'},"label":"Message"})}}
                <input type="submit" class="btn btn-primary mb-5" value="Envoyer">
                {{form_end(form)}} 
        </div>
</section>
    

{% endblock %}
