{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<!-- header photo -->
    <div id="diapo" class="shadow-lg  bg-white rounded">
      <img src="{{asset('images/caroussel/macarons_color.jpg')}}" class="d-block w-100"  alt="...">
    <div>          

        <!-- Accroche  -->
      <div class="text-center" id="intro">
        <h1 class="text-light h1">Boulangerie-Pâtisserie Kock</h1>
        <p class="h3">Nous vous souhaitons la bienvenue</p>
        <a class="btn bckgrdpersopink text-light mt-2" href="">Voir nos produits</a>
      </div>

     <!-- A propos de l'Entreprise -->
     <div class="container">
        <h2 class="text-center mt-5">Qui sommes nous ?</h2>
        <p class="h4 mt-5 text-center"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam consectetur in perspiciatis assumenda, necessitatibus, veniam, quae laboriosam deserunt quod omnis provident enim. Dignissimos commodi aspernatur non ab maiores voluptatem aliquam!
        Incidunt culpa ea nemo corporis officiis enim ad odit ut commodi at doloribus officia iste a perferendis explicabo nihil laboriosam, natus recusandae dolor tempora harum et eum aliquam unde? Cumque.
        </p> 
        <p class="h4 mt-5 text-center"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam consectetur in perspiciatis assumenda, necessitatibus, veniam, quae laboriosam deserunt quod omnis provident enim. Dignissimos commodi aspernatur non ab maiores voluptatem aliquam!
            Incidunt culpa ea nemo corporis officiis enim ad odit ut commodi at doloribus officia iste a perferendis explicabo nihil laboriosam, natus recusandae dolor tempora harum et eum aliquam unde? Cumque.
        </p> 
     </div>
   
     <!-- section du site (Produits article contact)  -->
        <div class="mt-5 bg-light">
            <div class="row text-center mt-5">
              <div class="col">
                  <img class="border border-primary shadow p-3 mb-5 bg-white rounded mt-5" src="{{asset('images/icones/news.png')}}" alt="image d'un journal">
                 <div>
                     <a class="btn bckgrdpersopink text-light" href="">Nos publications</a>
                 </div>
              </div>
            <div class="col">
                <img class="border border-primary shadow p-3 mb-5 bg-white rounded mt-5" src="{{asset('images/icones/croissant.png')}}" alt="icone d'un croissant">
                <div>
                    <a class="btn bckgrdpersopink text-light" href="">Nos produits</a>
                </div>
            </div>
            <div class="col">
                  <img class="border border-primary shadow p-3 mb-5 bg-white rounded mt-5" src="{{asset('images/icones/contact.png')}}" alt="icone contact">
                <div>
                    <a class="btn bckgrdpersopink text-light" href="">Nous contacter</a>
                </div>
            </div>
        </div>

          <hr class="shadow">

          <!-- Encart sur la dernière actualité -->
          <div id="test">
            <section class="text-center"> 
           
              <p class="text-center h3 pt-5">Dernière actualité</p>
                {% for lastpost in lastposts %}
                <article class=" mt-5 mb-5 pb-5">
                    <h2 class="h4 mt-3">{{lastpost.title}}</h2>
                    <div class="mb-5">Ecrit le : {{ lastpost.createAt | date('d/m/Y')}}</div>
                    <div class="mt-2">
                        <img src="{{asset('images/products/' ~ lastpost.image)}}" style="width:20%" alt="Image de l'article">
                    </div>
                    <a href="{{path('show_post', {'id': lastpost.id})}}" class="btn btn-primary  mt-3"> Lire l'article</a>
                </article>
                {% endfor %}
            </section>  
          </div>
      </div>
    </div>
{% endblock %}
