{% extends 'base.html.twig' %}

{% block title %}Nos produits{% endblock %}
{% block monTitre %}Liste de tout nos produits{% endblock %}
{% block body %}
<div class="container">
    {% for message in app.flashes('success') %}
        <div class="text-center alert alert-success">
            {{message}}
        </div>
    {% endfor %}
    <!-- Si admin est à true alors on affiche le bouton ajouter un produit -->
    {% if admin %}
    <a href="{{path('add_product')}}" class="text-center col btn btn-success">Ajouter</a>
    <!-- Fin de la condition -->
    {% endif %}
   
    <div class="row">
        {% for product in products %}
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 mt-5">
            <div class="card border-primary mb-3 mx-auto" style="max-width:20rem">
                <div class="card-header text-center bg-dark">
                    <img src="{{asset('images/products/' ~ product.image)}}" class="resizing_image card-img-top" alt="Photo du produit,'{{product.name}}'">
                </div>
                <div class="card-body">
                    <h3 class="card-title text-center pb-2 mx-3 border-bottom border-primary"></h3>
                    <p class="card-text">
                        <h4 class="text-center">{{product.name}}</h4>
                        <table class="table text-center">
                            <tr>
                                <td>Prix</td>
                                <td>{{product.price}} euros</td>
                            </tr>
                            <tr>
                                <td>Description</td>
                                <td>{{product.description}}</td>
                            </tr>
                        </table>
                        <p class="text-center text-primary">{{product.categoryprod.libelle}}</p>
                        <!-- Si admin est à true alors on affiche les boutons modifier et supprimer-->
                        {% if admin %}
                        <div class="row no-gutters">
                            <a href="{{path('formproduct',{'id' : product.id})}}" class="col btn btn-warning mr-2">Modifier</a>

                            <form method="POST" class="col" action="{{path('delete_product', {'id' : product.id})}}" onsubmit="return confirm('Voulez-vous vraiment supprimer le produit ?')">
                                <input type="hidden" name="_method" value="delete">
                                <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ product.id)}}">
                                <input type="submit" class="btn btn-danger w-100" value="supprimer">
                            </form>
                        </div>
                        {% endif %}
                        <!-- Fin de la condition -->

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="navigation" >
        {{ knp_pagination_render(products) }}
    </div>
</div>

{% endblock %}
