{% extends 'base.html.twig' %}
{% block title %}Nos produits{% endblock %}
{% block meta_des_name %}Liste de tout nos produits{% endblock %}
{% block meta_des_content %}Venez Découvrir tout nos produits maison{% endblock %}
{% block body %}


        <section>
            <div class="container p-3 mt-5 shadow-lg p-3 mb-5 bg-white rounded">
                <h1 id="title_allproducts" class="text-center text-light mt-5 bg-primary p-5 ">Découvrez tout nos produits</h1>
                    {% for message in app.flashes('success') %}
                    <div class="text-center alert alert-success">
                        {{message}}
                    </div>
                    {% endfor %}
            
                    {% if admin %}
                    <a href="{{path('add_product')}}" class="text-center col btn btn-info">Ajouter un produit</a>
                    {% endif %}
                    <div class="navigation col-md-4 offset-md-4 mt-4 pagination_produits">{{ knp_pagination_render(products) }}</div>
            
                    <div class="row">
                        {% for product in products %}
                        <div class="col-12 col-md-6 col-lg-4 col-xl-3 mt-4">
                            <div class="card border-primary mb-3 mx-auto" style="max-width:20rem">
                                <div class="card-header text-center bg-primary">
                                    <img src="{{asset('images/products/' ~ product.image)}}" class="resizing_image card-img-top" alt="Photo du produit,'{{product.name}}'">
                                </div> 
            
                                <div class="card-body"> 
                                    <p class="card-text text-center h4">{{product.name}}</p>  
                                    <table class="table text-center">
                                        <tr>
                                            <td>Prix</td>
                                            <td>{{product.price}} euros</td>
                                        </tr>
                                        <tr>
                                            <td>Description</td>
                                            <td>{{product.description}}</td>
                                        </tr>
                                    </table>

                                    <p class="text-center colorpersopink">{{product.categoryprod.libelle}}</p>
                              
                                    {% if admin %}
                                    <div class="row no-gutters">
                                        <a href="{{path('formproduct',{'id' : product.id})}}" class="col btn btn-warning mr-2">Modifier</a>
                
                                        <form method="POST" class="col" action="{{path('delete_product', {'id' : product.id})}}" onsubmit="return confirm('Voulez-vous vraiment supprimer le produit ?')">
                                            <input type="hidden" name="_method" value="delete">
                                            <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ product.id)}}">
                                            <input type="submit" class="btn btn-danger w-100" value="supprimer">
                                        </form>
                                    </div>
                                    {% endif %}
                                    
                                </div>
                            </div>
                        </div> 
                        {% endfor %}
                    
                        <div class="navigation col-md-4 offset-md-4 mt-3 pagination_produits">
                            {{ knp_pagination_render(products) }}
                        </div>
                    </div>
            </div> 
        </section>

{% endblock %}
