{% extends 'base.html.twig' %}

{% block title %}Viennoiseries{% endblock %}
{% block body %}
    <div class="container p-5 mt-5 shadow-lg p-3 mb-5 bg-white rounded">
        <h1 class="text-center text-light mt-5 bg-danger pt-3 pb-3 ">Découvrez nos viennoiseries</h1>
        <div class="row">
            {% for product in products %}
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 mt-5">
                <div class="card border-primary mb-3 mx-auto" style="max-width:20rem">
                    <div class="card-header text-center bg-primary">
                        <img src="{{asset('images/products/' ~ product.image)}}" class="resizing_image card-img-top" alt="Photo du produit,'{{product.name}}'">
                    </div> 
                    <h4 class="text-center mt-2">{{product.name}}</h4>
                    
                    <div class="card-body">

                            <table class="table text-center">
                                <tr>
                                    <td>Prix</td>
                                    <td>{{product.price}} euros</td>
                                </tr>
                                <tr>
                                    <td>Description</td>
                                    <td>{{product.description}}</td>
                                </tr>
                            </table>
                            <p class="text-center text-primary">{{product.categoryprod.libelle}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>    

{% endblock %}
