{% extends 'base.html.twig' %}
{% block title %}Nos wraps{% endblock %}
{% block meta_des_name %}Liste de nos wraps{% endblock %}
{% block meta_des_content %}Une petite faim découvrez nos merveilleux wraps{% endblock %}

{% block body %}
    <div class="container mt-5 shadow-lg p-4 mb-5 bg-white rounded">  
        <h1 class="text-center text-light mt-5 bg-primary p-5">Découvrez nos wraps</h1>
        <div class="row">
     
            {% for product in products %}
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 mt-5">
                <div class="card border-primary mb-3 mx-auto" style="max-width:20rem">
                    <div class="card-header text-center bg-primary">
                        <img src="{{asset('images/products/' ~ product.image)}}" class="resizing_image card-img-top" alt="Photo du produit,'{{product.name}}'">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-center pb-2 mx-3 border-bottom border-primary"></h3>
                        <p class="card-text">
                            <h4 class="text-center">{{product.name}}</h4>
                            <table class="table text-center">
                                <tr>
                                    <td>Prix</td>
                                    <td>{{product.price}} euros</td>
                                </tr>
                                <tr>
                                    <td>Description</td>
                                    <td>{{product.description}}</td>
                                </tr>
                            </table>
                            <p class="text-center text-primary">{{product.categoryprod.libelle}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
