{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}
{% block monTitre %}Actualités{% endblock %}

{% block body %}
    <div class="container">
        {% if admin %}
        <a href="" class="text-center col btn btn-success">Ajouter un article</a>
         {% endif %}
        <section class="">
            {% for post in posts %}
            <article class=" mt-2 mb-5 text-center  bg-light">
                <h2 class="h4 mt-2">{{post.title}}</h2>
                
                <div>Ecrit le : {{ post.createAt | date('d/m/Y')}} 
                <div class="mt-3">
                    <img src="{{ post.image}}" alt="Image de l'article">
                </div>
                <a href="{{path('show_post', {'id': post.id})}}" class="btn btn-primary mb-4 mt-3"> Lire l'article</a>
                {% if admin %}
                <div class="row no-gutters">
                    <a href="" class="col btn btn-warning mr-2">Modifier</a>
                    <form method="" class="col" action="" onsubmit="return confirm('Voulez-vous vraiment supprimer cet article ?')">
                        <input type="hidden" name="_method" value="">
                        <input type="hidden" name="_token" value="">
                        <input type="submit" class="btn btn-danger w-100" value="supprimer">
                    </form>
                    {% endif %}
                </div>
            </article>
            {% endfor %}
        </section>
        <div class="navigation col-md-4 offset-md-4 mt-3">
            {{ knp_pagination_render(posts) }}
        </div>
    </div>
{% endblock %}
