{% extends 'base.html.twig' %}
{% block title %}Actualités{% endblock %}
{% block meta_des_name %}Nos actualités{% endblock %}
{% block meta_des_content %}Découvrez nos atualités{% endblock %}
{% block body %}
<section>
    <div class="container mt-5 shadow-lg p-4 mb-5 bg-white rounded border border-primary">
        <h1 id="nos_actualite_h1" class="text-center text-light mt-5 bg-primary p-5 h1 ">Nos actualités</h1>
        {% for message in app.flashes('success') %}
        <div class="text-center alert alert-success">
            {{message}}
        </div>
    {% endfor %}
        {% if admin %}
        <!-- lien pour l'ajout d'un article (route add_post) -->
        <a href="{{path('add_post')}}" class="text-center col btn btn-info">Ajouter un article</a>
         {% endif %}
 
            <div id="nav_actus_top" class="navigation col-md-4 offset-md-4 mt-5">
                {{ knp_pagination_render(posts) }}
            </div>
            {% for post in posts %}
            <div class="mt-5 mb-5 text-center">
                <p class="h2 mt-5 text-shadow ont-weight-bold nos_actus_title">{{post.title}}</p>
                
                <div class="text-secondary">Ecrit le : {{ post.createAt | date('d/m/Y')}} 
                <div class="mt-3">
                    <img class="shadow-lg p-2 mb-2 bg-white rounded center img_nosactus" src="{{asset('images/products/' ~ post.image)}}" style="width:50%" alt="Image de l'article">
                </div>
                {% if admin %}
                <a href="{{path('show_post_admin', {'id': post.id})}}" class="btn btn-danger text-light  mt-4 btn_lire_article"> Lire l'article (admin)</a>
                {% else %}
                <a href="{{path('show_post', {'id': post.id})}}" class="btn bckgrdpersopink text-light  mt-4 btn_lire_article"> Lire l'article</a>
                {% endif %}
    
                {% if admin %}
                <div class="row no-gutters mt-5">
                    <!-- lien pour la modif d'un article -->
                    <a href="{{path('update_post',{'id': post.id})}}" class="col btn btn-warning mr-2">Modifier</a>
                   
                    <form method="post" class="col" action="{{path('delete_post',{'id' : post.id})}}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet article ?')">
                        <input type="hidden" name="_method" value="SUP"> <!--Pour ne oas créer de collision entre les routes -->
                        <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ post.id)}}">
                        <input type="submit" class="btn btn-danger w-100" value="supprimer">
                    </form>
                {% endif %}
                </div>
            </div>
            <hr class="bg-primary">
            {% endfor %}
  
        <div id="nav_actus_bottom" class="navigation col-md-4 offset-md-4 mt-3">
            {{ knp_pagination_render(posts) }}
        </div>
    </div>
</section>
{% endblock %}
