{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}
{% block monTitre %}Actualités{% endblock %}

{% block body %}
    <div class="container">
        {% for message in app.flashes('success') %}
        <div class="text-center alert alert-success">
            {{message}}
        </div>
    {% endfor %}
        {% if admin %}
        <!-- lien pour l'ajout d'un article (route add_post) -->
        <a href="{{path('add_post')}}" class="text-center col btn btn-info">Ajouter un article</a>
         {% endif %}
        <section class="">
            <div class="navigation col-md-4 offset-md-4 mt-3">
                {{ knp_pagination_render(posts) }}
            </div>
            {% for post in posts %}
            <article class=" mt-5 mb-5 text-center  bg-light">
                <h2 class="h4 mt-5 pt-5">{{post.title}}</h2>
                
                <div>Ecrit le : {{ post.createAt | date('d/m/Y')}} 
                <div class="mt-3">
                    <img src="{{asset('images/products/' ~ post.image)}}" alt="Image de l'article">
                </div>
                <a href="{{path('show_post', {'id': post.id})}}" class="btn btn-primary mb-4 mt-3"> Lire l'article</a>
                {% if admin %}
                <div class="row no-gutters">
                    <!-- lien pour la modif d'un article -->
                    <a href="{{path('update_post',{'id': post.id})}}" class="col btn btn-warning mr-2">Modifier</a>
                   
                    <form method="post" class="col" action="{{path('delete_post',{'id' : post.id})}}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet article ?')">
                        <input type="hidden" name="_method" value="SUP"> <!--Pour ne oas créer de collision entre les routes -->
                        <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ post.id)}}">
                        <input type="submit" class="btn btn-danger w-100" value="supprimer">
                    </form>
                {% endif %}
                </div>
            </article>
            {% endfor %}
        </section>
        <div class="navigation col-md-4 offset-md-4 mt-3">
            {{ knp_pagination_render(posts) }}
        </div>
    </div>
{% endblock %}
